.register-page {
  min-height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #1e293b
  );
}

.register-card {
  width: 450px;

  background-color: #1e293b;

  padding: 40px;

  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.register-title {
  text-align: center;

  color: white;

  margin-bottom: 10px;
}

.register-subtitle {
  text-align: center;

  color: #94a3b8;

  margin-bottom: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.input-group label {
  color: #cbd5e1;

  margin-bottom: 8px;
}

.input-group input,
.input-group select {
  padding: 12px;

  border: 1px solid #334155;

  border-radius: 8px;

  background-color: #0f172a;

  color: white;

  outline: none;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #3b82f6;
}

.register-btn {
  background-color: #3b82f6;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}

.register-btn:hover {
  background-color: #2563eb;
}

.error-msg {
  color: #ef4444;

  text-align: center;

  margin-top: 15px;
}